/* Overall page styling */

.btn-primary {
  background-color: #E80000;
}

.btn-danger {
  background-color: #008B8B;
}

.big-text {
  font-size: 11em;
  margin-top: -25px;
}

.title-text {
  font-size: 8em;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic";
}

.section-header {
  margin-bottom: 3em;
}

.navbar {
  border: none;
}

/* Individual page styling */
.page-home {
  background: white;
  color: black;
}

.logo {
  height: 23em;
}

#about-me-btn {
  margin-top: 2em;
}

.leadin {
  margin-top: 15%;
}

.page-about {
  background: white;
  color: black;
}

.page-contact {
  background: white;
  color: black;
}

.page-projects {
  background: white;
  color: black;
  text-align: center;
}

.project {
  padding-bottom: 5em;
}

.mockup {
  height: 25em;
}

.description {
  text-align: left;
}

.tech-list {
  text-align: left;
}

.contact {
  margin-top: 4em;
  text-align: center;
}




